.subtitle {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 48px;
    font-weight: bold;
    color: white;
    -webkit-text-stroke: 1px black;
    background-color: rgb(0, 0, 0, 0.7);
    text-align: left;
    padding: 0px 50px;
}

/* .subtitle-container {
    display: flex;
    align-items: center;
    justify-content: center;
} */